* {box-sizing: border-box;}

/* .img {
    float: left;
    width: 50%;
    padding: 5px;
  } */
div.gallery {
  margin: 5px;
  float: left;
  overflow-y: scroll;
  width: 30%;
  /* height: auto; */
}

.images {
  display: inline-flex;
  height: 600px;
  margin: auto;
}

.descript {
  float: left;
}

.img-zoom-container {
  float: right;
  height: 600px;
  position: relative;
}

#myimage {
  max-height: 100%;
  max-width: 100%;
  height: 600px;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 50px;
  height: 50px;
}

.img-zoom-result {
  float: right;
  border: 1px solid #d4d4d4;
  width: 50%;
  height: 50%;
}

/* .img-container {
  float: left;
  width: 25%;
  width: 400px;
  height: 400px;
  overflow-y: scroll;
} */

#styleSelection select {
  float: left;
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  width: 350px;
  background: #58B14C;
  /* -webkit-appearance: none;   */
}