* {
  box-sizing: border-box;
}
.searchbar {
  display: flex;
  top: 10px;
  left: 25px;
  background-color: gray;
  width: 1250px;
  height: 40px;
  position: relative;
}
.descript-container {
  display: flex;
  left: 25px;
  top: 20px;
}
.descript {
  left: 25px;
  top: 20px;
  position: relative;
  width: 1000px;
}
.features {
  top: 20px;
  position: relative;
  left: 10px;
}
.sale-price {
  color: red;
}

.social-share {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-size: 13px;
  line-height: 26px;
}
.upper-button {
  width: 76px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.twitter-share-button {
  position: relative;
  box-sizing: border-box;
  background-color: #1b95e0;
  color: #fff;
  font-weight: 500;
  height: 28px;
  border-radius: 4px;
  padding: 1px 10px 1px 9px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
}
i {
  top: 4px;
  height: 18px;
  width: 18px;
  position: relative;
  display: inline-block;
  background: transparent 0 0 no-repeat;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px;
  border-color: black;
  margin: 5px;
  /* object-fit: fill; */
}
.style-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.images {
  display: flex;
  height: 600px;
  margin: auto;
  position: relative;
  top: 25px;
  left: 25px;
}

.img-container {
  width: 150px;
  height: 600px;
  padding: 10px;
  display: flex;
  overflow-y: scroll;
  float: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.img-container::-webkit-scrollbar {
  display: none;
}
.slide {
  background-color: white;
  width: 100%;
  flex-shrink: 0;
  margin: 5px;
  float: left;
  opacity: 0.6;
}
.active,
.slide:hover {
  opacity: 1;
}

.img-zoom-container {
  background-color: black;
  float: left;
  height: 600px;
  width: 950px;
  position: relative;
  /* display: flex; */
  object-fit: scale-down;
  /* z-index: 20; */
}
.img-zoom-container #myimage {
  flex: 2;
  height: 100%;
  object-fit: contain;
}
.button-left {
  position: absolute;
  top: 280px;
  left: 150px;
  z-index: 10;
}
.w3-button {
  z-index: 10;
  background-color: grey;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.mag-click {
  position: absolute;
  top: 566px;
  left: 395px;
}
.mod-click {
  position: absolute;
  top: 566px;
  left: 475px;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
  background-size: inherit;
}

#myresult {
  float: right;
}

#styleSelection {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
}

.size {
  vertical-align: bottom;
}
.select-container {
  vertical-align: center;
}

.right-container {
  position: relative;
  left: 10px;
}
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: #cccccc;
}
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: #cccccc;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#sizeSelection {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
  overflow: hidden;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 240px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #3b8ec2;
}
#sizeSelection select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}
