* {box-sizing: border-box;}
.searchbar {
  display: flex;
  top: 10px;
  left: 25px;
  background-color: gray;
  width: 1250px;
  height: 40px;
  position: relative;
}
/* .searchInput {
  float: right;
} */

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px;
  border-color: black;
  margin: 5px;
}

.images {
  display: inline-flex;
  height: 600px;
  margin: auto;
  position: relative;
  top: 25px;
  left: 25px;
}

.img-container {
  width: 150px;
  height: 600px;
  padding: 10px;
  display: flex;
  overflow-y: scroll;
  float: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.img-container::-webkit-scrollbar {
  display: none;
}
.slide{
  width: 100%;
  flex-shrink: 0;
  margin: 5px;
  float: left;
}

.img-zoom-container {
  float: left;
  height: 600px;
  width: 950px;
  position: relative;
  display: flex;
}
.img-zoom-container #myimage {
  flex: 2;
  height: 100%;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

#myresult {
  float:right;
}

#styleSelection {
  display: grid;
  grid-template-columns: 60px 60px 60px;
}

.size {
  vertical-align: bottom;
}
.select-container {
  vertical-align: center;
}

.right-container {
  position: relative;
  left: 10px;
}
#sizeSelection {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  overflow: hidden;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 240px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #3b8ec2;
}
#sizeSelection select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}

