
.Reviews-Layout {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 5%;
}

.ReviewsMeta {
    color: #4d4d4d;
    float: left;
}

.reviews-list-hr { 
    height: 1px;
    background-color:black;
    opacity: 0.5;
}

.ReviewsList {
    color: #333333;
    float: right;
    max-width: 50%;
}

.ReviewSubmission {
    color: #4d4d4d;
}

.review-average {
    float: left;
    font-size: 400%;
    font-weight: bold;
}

.review-entry-top {
    display: flex;
    position: relative;
    z-index: -1;
    width: 100%;
}

.review-entry-name-date {
    float: right;
    right: -50%;
    top: 5px;
    position: relative;
}

.review-entry-fivestars {
    display: inline-block;
}

.percentage-bar {
    position: relative;
    height: 10px;
    width: 300px;
    background-color: #d9d9d9;
    display: inline-block;
    left: 2px;
}

.percentage-fill {
    /* background:   #00e64d; */
    background: #333333;
    height: 100%;
}

.percentage-text {
    display: inline-block;
    text-decoration: underline;
    padding: 2px;
}

.percentage-num {
    display: inline-block;
    padding: 2px;
}

.spacer {
    padding: 10px 0px;
    height: 10px;
}

.characteristic {
    width: 350px;
    padding: 10px 0px;
}

.characteristic-name {
    color: #333333;
    padding: 8px 0px;
}

.characteristic-bar {
    position: relative;
    height: 10px;
    width: 350px;
    background-color: #d9d9d9;
}

.characteristic-text-left {
    color: #333333;
    padding: 8px 0px;
    font-size: 80%;
    float: left;
}

.characteristic-text-right {
    color: #333333;
    padding: 8px 0px;
    font-size: 80%;
    float: right;
}

.characteristic-triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: #1c1d1f transparent transparent transparent;
    vertical-align: middle;
}

.five-stars-fill {
    position: relative;
    height: 34px;
    background-color: #333333;
}

.five-stars-outline {
    height: 34px;
    width: 112px;
}

.single-star-outline {
    height: 23px; 
    width: 20px;
}

.single-star-fill {
    position: relative;
    display: inline-block;
    height: 23px; 
    background-color: #333333;
}

.single-star-container {
    height: 23px; 
    width: 20px;
    display: inline-block;
}

.review-list-summary {
    font-size: 130%;
    font-weight: bold;
}

.Reviews-List-Top {
    font-size: 130%;
    font-weight: bold;
    display: flex;
}

.review-photos {
    display: flex;
}

.review-photo {
    display: inline-block;
    padding: 5px;
    width: 100px;
    height: 80px;
}

.review-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.review-modal-content {
    background: rgba(100, 100, 100, 0.2);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto; /* Enable scroll if needed */
}

.review-form {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 50%;
}

.review-list-res-full {
    background-color: #d9d9d9;
    padding: 5px 10px;
}

.review-list-res-top {
    font-weight: bold;
    padding: 5px 0px;
}

.review-buttons {
    display: flex;
}

/* The Close Button */
.review-form-close {
    position: relative;
    color: #aaa;
    float: right;
    font-size: 28px;
    top: -20px;
    font-weight: bold;
  }
  
  .review-form-close:hover,
  .review-form-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .review-put-options {
      display: flex;
  }

  .review-put-option {
      display: inline-block;
      padding: 0px 7px;
      text-decoration: underline;
      opacity: 0.8;
  }

  .review-put-option:hover, 
  .review-put-option:focus {
      opacity: 1.0;
      cursor: pointer;
  }
/* .review-list-rec {
    text-align: center;
} */