.ReviewsMeta {
    color: black;
}

.percentage-bar {
    position: relative;
    height: 20px;
    width: 350px;
    background-color: #d9d9d9;
    display: inline-block;
}

.percentage-fill {
    background:   #00e64d;
    height: 100%;
}

.percentage-text {
    display: inline-block;
}